.aside-new-posts {
    width: 25%;
}

.aside-block:nth-child(n+2) {
    margin-top: 60px;
}

.aside-posts {
    display: flex;    
    align-items: flex-start;
    flex-wrap: wrap;
}

.aside-post {
    display: flex;
}

.aside-post-content {
    margin-left: 20px;
    padding: 0;
    line-height: 1;
}

.aside-post:nth-child(n+2) {
    margin-top: 22px;
}

.aside-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
}

.aside-title::after {
    content: "";
    border: 2px solid #b59f5b;
    opacity: 0.4;
    width: 66px;
    display: block;
    margin: 14px auto 28px;
}

.aside-post-image {
    width: 70px;
    height: 70px;
}

.aside-post__title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.aside-post__time {
    font-size: 12px;
    color: #888888;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.aside-search-form {
    display: flex;
    margin-top: 60px;
}

.aside-form-label {
    width: 100%;
}

.aside-form-input {
    height: 48px;
    width: 100%;
    padding: 18px;
    background-color: #f4f7f6;
    border: 0;
    opacity: 0.5;
}

.aside-form-input:focus {
    outline: 0;
    border: 1px solid #b59f5b;
}

.aside-button-form {
    height: 48px;
    width: 48px;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    cursor: pointer;
    border: 0;
    flex-shrink: 0;
}

.aside-button-form:hover {
    background-color: #323232;
}

.aside-search-form {
    display: flex;
    width: 100%;
}


.aside-form-input__email {
    width: 100%;
    height: 48px;
    padding: 18px;
    background-color: #f4f7f6;
    border: 0;
    opacity: 0.5;
}

.aside-button-form__email {
    width: 100%;
    height: 48px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background-color: #b59f5b;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
    margin-top: 16px;
}

.aside-form-input__email:focus {
    border: 1px solid #b59f5b;
    outline: 0;
}

.aside-post__link {
    text-decoration: none;
    color: black;
    margin-right: 5px;
    margin-bottom: 6px;
}

.aside-post__link:hover {
    color: #b59f5b;
}

.aside-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
}

.aside-tag {
    border: 3px solid #eeeeee;
    padding: 8px 13px;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.aside-tag:hover {
    border-color: #b59f5b;
}

.aside-topics {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.aside-topic {
    display: inline-block;
}

.aside-topic::after {
    content: "";
    width: 271px;
    height: 1px;
    background-color: #eeeeee;
    display: block;
}

.aside-topic__text {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 47px;
}

.aside-topic__text:hover {
    color: #b59f5b;
}

.aside-topic__number {
    font-size: 12px;
    line-height: 40px;
    color: #b59f5b;
    font-weight: 700;
    vertical-align: top;
    margin-left: 3px;
}

@media (min-width: 641px) and (max-width: 1200px) {
    
    .aside-new-posts {
        width: 40%;
    }

    .aside-form-input {
        font-size: 13px;
        width: 100%;
    }

    .aside-form__email {
        font-size: 13px;
    }

    .aside-tag {
        font-size: 12px;    
    }
}

@media (max-width: 641px) {

    .aside-new-posts {
        width: 100%;
    }
}