.section-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.section-text::after {
    border: 3px solid #b59f5b;
    width: 66px;
    margin: 10px auto 28px;
    opacity: 0.4;
    content: "";
    display: block;
}

.trends-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trend-content {
    width: calc(25% - 4px);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: flex;
    min-height: 320px;
    padding: 21px 16px;
}

.trend-content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

.trend-content__text {
    background-color: rgba(0,0,0,0);
    border: 3px solid #b59f5b;
    box-sizing: content-box;
    padding: 6%;
    flex-grow: 1;
    align-self: flex-end;
}

.trend-content:nth-child(n+2) {
    margin-left: 4px;
}

.trend-tag {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 40px;
}

.trend-tag:nth-child(n+2) {
    margin-left: 20px;
}

.trend-tag__link {
    text-decoration: none;
    color:#b59f5b;
}

.trend-tag__link:hover {
    text-decoration: underline;
}

.trends-text, .trend-tag {
    padding: 0;
    margin: 0;
}

.tred-title {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.tred-title-link {
    text-decoration: none;
    color: white;
}

.tred-title-link:hover {
    color: #b59f5b
}

.trend__nature-iamge {
    background-image: url("../images/trend1.jpg");
}

.trend__cheese-image {
    background-image: url("../images/trend2.jpg");
}

.trend__travel-image {
    background-image: url("../images/trend3.jpg");
}

.trend__fruit-image {
    background-image: url("../images/trend4.jpg");
}

@media (min-width: 641px) and (max-width: 1200px) {

    .trend-content {
        min-height: 245px;
    }

    .section-text {
        font-size: 18px;
    }

    .trend-content {
        width: calc(50% - 4px);
    }

    .trend-content:nth-child(n+2) {
        margin-left: 0px;  
    }

    .trend-content {
        margin-bottom: 3px;
    }

    .trend-content:nth-child(2n+2) {
        margin-left: 4px;
    }

    .tred-title {
        font-size: 17px;
        line-height: 22px;
    }

    .trend-tag {
        line-height: 37px;
    }

    .trend-content__text {
        padding: 8%;
    }
}   

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    
    .trend-content {
        width: calc(25% - 4px);
    }
    
}

@media (max-width: 641px) {

    .trend-content {
        min-height: 230px;
    }

    .section-text {
        font-size: 16px;
    }

    .trend-content {
        width: 100%;
    }

    .trend-content:nth-child(n+2) {
        margin-left: 0px;  
    }

    .trend-content {
        margin-bottom: 3px;
    }

    .tred-title {
        font-size: 16px;
        line-height: 22px;
    }

    .trend-tag {
        line-height: 37px;
    }

    .trend-content__text {
        padding: 5%;
    }
} 

@media (max-width: 641px) and (orientation: landscape) {

    .trend-content {
        width: calc(50% - 4px);
    }

    .trend-content:nth-child(2n+2) {
        margin-left: 4px;
    }
}