.footer-block {
    margin-bottom: 52px;
}

.footer-social {
    width: 22px;
    height: 22px;
    background-size: contain;
    display: inline-block;
}

.footer-socials:nth-child(n+2) {
    margin-left: 21px;
}

.footer-adress {
    display: flex;
    padding: 15px 0;
    justify-content: center;
    background-color: #f4f7f6;
}

.footer-socials {
    display: inline-block;
}

.footer-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

.footer-tumbler {
    background-image: url("../svg/003-tumblr.svg");
}

.footer-instagram {
    background-image: url("../svg/005-instagram.svg");
}

.footer-pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.footer-twitter {
    background-image: url("../svg/004-twitter.svg");
}

.copyright {
    text-align: center;
}

.copyright-text {
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    font-weight: 700;
}

.footer-adress ul {
    padding: 0;
}

@media (min-width: 641px) and (max-width: 1200px) {

    .footer-block {
        margin-bottom: 30px;
    }
}

@media (max-width: 641px) {

    .footer-block {
        margin-bottom: 33px;
    }
}